<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Автомобиль</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>
</head>
<body>
<br>
<a href="/logout">Выход</a>
<br>
<br>
<a href="/person">Ко всем людям</a>
<br>
<a href="/car">Ко всем автомобилям</a>
<br>
<br>
<h4>Автомобиль</h4>
<br>
<br>

<p th:text="${'ID: ' + car.getId()}">VALUE</p>
<p th:text="${'Модель: ' + car.getModel()}">VALUE</p>
<p th:text="${'Номер автомобиля: ' + car.getSeries()}">VALUE</p>
<a th:href="@{/car/{id}/transition(id=${car.getId()})}">Хозяин автомобиля</a>
<br/>
<br/>
<a th:href="@{/car/{id}/update(id=${car.getId()})}">Изменить</a>
<br/>
</form>
</body>
</html>