<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css" />
</head>
<body>
<br>
<br>
<h4>Регистрация</h4>
<br>
<br>

<h1>Registration</h1>
<form th:method="POST" th:action="@{/auth/register}" th:object="${person}">
    <label for="firstName">Имя</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error</div>
    <br/>
    <laber for="lastName">Фамилия</laber>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: red"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name error</div>
    <br/>
    <laber for="email">Email</laber>
    <input type="text" th:field="*{username}" id="email"/>
    <div style="color:red"  th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Email error</div>
    <br/>
    <br/>
    <laber for="password">Пороль</laber>
    <input type="text" th:field="*{password}" id="password"/>
    <div style="color:red"  th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>
</body>
</html>